{% extends 'basePedestal.html.twig' %}

{% block body %}
    <div class="d-flex w-100">

        <!-- Tabla -->
        <div class="w-50 mt-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1>Bileran izena eman</h1>
                <div>
                    <!-- Botón placeholder para la función futura -->
                    <button id="backButton" class="btn btn-sm btn-primary">
                        Hasiera
                    </button>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Izena</th>
                    <th>Lekua</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for bilera in bilerak %}
                    <tr>
                        <td>{{ bilera.izena }}</td>
                        <td>{{ bilera.lekua }}</td>
                        <td>
                            <a href="{{ path('app_pedestal_bilera_bisitaria_form', {id: bilera.id}) }}"
                               class="btn btn-primary btn-sm"
                               onclick="openPopup(this.href); return false;">
                                Gehitu Bisitaria
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Ez dago bilerarik.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function openPopup(url) {
            const popupWindow = window.open(url, 'popupWindow', 'width=800,height=300,scrollbars=yes');
            popupWindow.focus();
        }
        // Botón de imprimir (redirigir a la página de pedestal)
        document.getElementById("backButton").addEventListener("click", function() {
            // Redirigir a la página "pedestal"
            window.location.href = "{{ path('app_pedestal') }}";  // Ajusta el nombre de la ruta si es necesario
        });
    </script>
{% endblock %}
